.car-list-container{
    display:flex;
    flex-flow: row wrap;
    background: lightgray;
    padding: 5px;
}

.car-wrapper{
    background: white;
    padding: 10px;
    border: 1px lightgrey solid;
    margin: 1px;
}